<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="stylesheets/global.css" rel="stylesheet">
    <link href="stylesheets/home.css" rel="stylesheet">
    <style>
    @import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');
    </style>
    <script src="https://kit.fontawesome.com/e269f9ec62.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
    <link rel="stylesheet" href="/stylesheets/partials/header.css">
    <link rel="stylesheet" href="/stylesheets/partials/footer.css">
    <title><%= texts.title %></title>
  </head>
  <body>
  <div id="about"></div>

    <%- include("partials/header") %>

    <div id="fixed-icons">
      <div>
        <a href="<%= socials.github.url%>" target="_blank"><i class="fa fa-brands fa-github"></i></a>
        <a href="<%= socials.linkedin.url%>" target="_blank"><i class="fa fa-brands fa-linkedin"></i></a>
      </div>
    </div>
    
    <main id="main-container">
      <div id="about"></div>
      <div class="top-box">
        <div id="top-box-first">
          <div>
            <div id="top-box-first-texts">
              <div>
                <h2><%= texts.about.box1.h2%></h2>
                <h1><%= texts.about.box1.h1%></h1>
              </div>
            </div>
            <div id="top-box-first-image">
              <img src="pictures/static/greenguy.jpg" alt="">
            </div>
          </div>
        </div>
        <div id=top-box-second>
          <div id="top-box-second-container">
            <div id="top-box-second-container-title-div">
              <h1><%= texts.about.box2.aboutMe%></h1>     
            </div>
            <div id="top-box-second-texts">
              <p><%= texts.about.box2.p1%></p>
              <p><%= texts.about.box2.p2%></p>
              <p><%= texts.about.box2.p3%></p>
            </div>
            <div id="cv-button-container">
              <a class="main-button" id="cv-button" href="/documents/dynamic/cv/<%if(lang=="pt-BR"){%><%= cv.cv_portuguese_url%><%}else{%><%=cv.cv_english_url%><%}%>" download><%= texts.about.box2.cvDownload%> <i class="fa fa-solid fa-download"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div id="technologies"></div>

      <div id="skill-box-title">
        <h1><%= texts.technologies.title %></h1> 
      </div>

      <div id="skill-box-container-flex">
        <div id="skill-box-container">

          <% for(technology of technologies) {%>
          <div class="skill-box"> 
            <div class="skill-box-flex">
              <div>
                <img src="pictures/dynamic/technology/<%= technology.image_url%>" alt="">
              </div>
            </div>
            <p><%= technology.name %></p>
          </div>
          <% } %> 

        </div>
      </div>
     
      <div id="projects"></div>

      <div id="project-box-title">
        <h1><%= texts.projects.title%></h1> 
      </div>

      <div id="project-box-container-flex">
        <div id="project-box-container">

        <div class="project-box">
          <div class="selectable-text project-box-project-title">
            <a href="" >agroloc</a>
          </div>
          <div class="project-box-images" >
            <div>
              <a data-fancybox href="pictures/dynamic/ex1.png">
                <img src="pictures/dynamic/ex1.png">
              </a>
            </div>

            <div>
              <a data-fancybox href="pictures/dynamic/ex2.png">
                <img src="pictures/dynamic/ex2.png">
              </a>
            </div>

            <div>
              <a data-fancybox href="pictures/dynamic/ex3.png">
                <img src="pictures/dynamic/ex3.png">
              </a>
            </div>
          </div>
        </div> 


        <div class="project-box">
          <div class="selectable-text project-box-project-title">
            <a href="" >projeto 2</a>
          </div>
          <div class="project-box-images">
            <div>
              <a data-fancybox href="pictures/dynamic/ex1.png">
                <img src="pictures/dynamic/ex1.png">
              </a>
            </div>

            <div>
              <a data-fancybox href="pictures/dynamic/ex2.png">
                <img src="pictures/dynamic/ex2.png">
              </a>
            </div>

            <div>
              <a data-fancybox href="pictures/dynamic/ex3.png">
                <img src="pictures/dynamic/ex3.png">
              </a>
            </div>
          </div>
        </div> 


        <div class="project-box">
          <div class="selectable-text project-box-project-title">
            <a href="" >projeto 3</a>
          </div>
          <div class="project-box-images">
            <div>
              <a data-fancybox href="pictures/dynamic/ex1.png">
                <img src="pictures/dynamic/ex1.png">
              </a>
            </div>

            <div>
              <a data-fancybox href="pictures/dynamic/ex2.png">
                <img src="pictures/dynamic/ex2.png">
              </a>
            </div>

            <div>
              <a data-fancybox href="pictures/dynamic/ex3.png">
                <img src="pictures/dynamic/ex3.png">
              </a>
            </div>
          </div>
        </div> 


        <div class="project-box">
          <div class="selectable-text project-box-project-title">
            <a href="" >projeto 4</a>
          </div>
          <div class="project-box-images">
            <div>
              <a data-fancybox href="pictures/dynamic/ex1.png">
                <img src="pictures/dynamic/ex1.png">
              </a>
            </div>

            <div>
              <a data-fancybox href="pictures/dynamic/ex2.png">
                <img src="pictures/dynamic/ex2.png">
              </a>
            </div>

            <div>
              <a data-fancybox href="pictures/dynamic/ex3.png">
                <img src="pictures/dynamic/ex3.png">
              </a>
            </div>
          </div>
        </div> 
        </div> 
      </div>

      <div id="project-button-container-flex">

        <div>
          <button class="main-button" id="project-button"><%= texts.projects.projectsButton %></button>
        </div>
        
        <div>
          <button class="main-button" id="project-github-button">
            <a href="<%=socials.github.url%>" target="_blank">
              <i class="fa fa-brands fa-github"></i> github
            </a>
          </button>
        </div>

      </div>

      <div id="contact"></div>
      <div id="contact-box-title">
        <h1><%= texts.contact.title %></h1> 
      </div>

      <div id="contact-box-container">

      <div id="contact-box-first-container">

        <div class="justify-center">
          <div id="contact-box-first-container-title-div">
            <h1 class="title-shadow">
              <%= texts.contact.myNetworks.title %>
            </h1>
          </div>
        </div> 

        <div id="contact-box-first-container-flex">


            <div class="justify-center" id="contact-box-first-image">
              <div>
                <img src="pictures/static/greenguy2.jpg" class="shiny-image">
              </div>
            </div>

            <div class="justify-center flex-column">

            <a href="mailto:<%=socials.email%>" class="selectable-box contact-box-anchor">
             <div class="contact-box justify-center flex-column">
               <div class="contact-box-box-title">
                 <i class="fa fa-solid fa-envelope"></i> <strong>Email</strong>
               </div>
               <div class="">
                  <%=socials.email%> 
               </div>
             </div>
            </a>

            <a href="<%=socials.github.url%>" target="_blank" class="selectable-box contact-box-anchor">
             <div class="contact-box justify-center flex-column">
               <div class="contact-box-box-title">
                 <i class="fa fa-solid fa-github"></i> <strong>Github</strong> 
               </div>
               <div class="">
                  <%=socials.github.title%> 
               </div>
             </div>
            </a>


            <a href="<%=socials.linkedin.url%>" target="_blank" class="selectable-box contact-box-anchor">
             <div class="contact-box justify-center flex-column">
               <div class="contact-box-box-title">
                 <i class="fa fa-brands fa-linkedin"></i> <strong>Linkedin </strong>
               </div>
               <div class="">
                  <%=socials.linkedin.title%> 
               </div>
             </div>
            </a>

            </div>

        </div>
      </div>

       <div id="contact-box-second-container">

        <div class="justify-center">
          <div id="contact-box-second-container-title-div">
            <h1 class="title-shadow">
              <%= texts.contact.speakToMe.title %>
            </h1>
          </div>
        </div> 

      <div id="contact-box-second-form-container">

        <form id="contact-box-second-form" class="form-box">
          
          <div class="form-container">

            <div class="input-group">

              <div class="input-container">
                <label class="input-label" for="stm_name"><i class="fa fa-solid fa-user"></i> <%= texts.contact.speakToMe.name %></label> 
                <input class="input" type="text" name="name" id="stm_name" required="true" minlength="3" maxlength="100">
              </div>

              <div class="input-container">
                <label class="input-label" for="stm_email"><i class="fa fa-solid fa-at"></i> Email</label> 
                <input class="input" type="email" name="email" id="stm_email" required="true" minlength="3" maxlength="200">
              </div>

              <div class="input-container">
                <label class="input-label" for="stm_subject"><i class="fa fa-solid fa-envelope-open-text"></i> <%= texts.contact.speakToMe.matter %></label> 
                <input class="input" type="text" name="subject" id="stm_subject" required="true" minlength="3" maxlength="100">
              </div>

              <div class="input-container">
                <label class="input-label" for="stm_message"><i class="fa fa-solid fa-comment"></i> <%= texts.contact.speakToMe.message %></label> 
                <textarea class="input textarea" name="message" id="stm_message" required="true" minlength="3" maxlength="1000"></textarea>
              </div>

            </div>


            <div class="input-group justify-center">
              <button class="main-button"><%= texts.contact.speakToMe.send %></button>
            </div>
          </div>

        </form>
        </div>
       </div> 

      </div> 
    </main>

    <%- include("partials/footer") %>
    <!--<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>-->
    <!--<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>-->

    <script type="module" src="/header/bundle.js" ></script>
    <script type="module" src="/home/bundle.js" ></script>

  </body>
</html>
