<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= texts.title %></title>
    <link rel="stylesheet" href="/stylesheets/partials/header.css">
    <link rel="stylesheet" href="/stylesheets/partials/footer.css">
    <link rel="stylesheet" href="/stylesheets/partials/fixed-icons.css">
    <link rel="stylesheet" href="/stylesheets/global.css">
    <link rel="stylesheet" href="/stylesheets/projects.css">
    <style>
    @import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');
    </style>
    <script src="https://kit.fontawesome.com/e269f9ec62.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
  </head>
  <body>
    <%- include("partials/header") %>
    <%- include("partials/fixed-icons") %>

    <main id="main-container">
      <div id="project-box-title">
        <h1><%= texts.projects.title%></h1> 
      </div>
      
      <div class="justify-center">
      <form class="form-box project-search-form-box" method="get" action="/projects" >
        <div class="form-container project-search-form-container">
          <div class="input-group project-search-group">

            <div class="input-container">
              <label class="input-label project-search-label" for="project_name"><i class="fa fa-solid fa-map"></i> <%=texts.projects.search.searchProjects%></label> 
              
              <input
                <% if(queryParams.project_name){ %> 
              value="<%= queryParams.project_name %>"
                <% } %>
              class="input" type="text" name="project_name" id="project_name" minlength="3" maxlength="100">
            </div>

            <div class="input-container search-form-button-container" style="display: flex; align-items: end;">
              <button class="main-button project-search-button"><%=texts.projects.search.searchButton%></button>
            </div>

          </div>
          <div class="input-group project-technologies">
              <div class="project-technologies-title"><i class="fa fa-solid fa-microchip"></i> <%=texts.projects.search.selectCategories%></div>

              <% for(let category of categories){%>
              <label class="input-label-inline" for="<%=category._id%>">
              <div class="project-search-technology-text">
              <input type="checkbox" id="<%=category._id%>" name="categories" value="<%=category._id%>"
              <% if(queryParams.categories) { %>
                <% if(queryParams.categories.find(e => e == category._id.toString())){ %>
                checked="checked" 
                <% }} %>
              >
              <% if (lang=="en-US") {
                __append(category.name["en-US"]); 
               } else if(lang=="pt-BR"){
                __append(category.name["pt-BR"]); 
               }%>
              </div>
              </label>
              <%}%>

          </div>
        </div>
      </form>

      

      </div>

      <div id="project-box-container-flex">
        <div id="project-box-container">
        <% for(let project of projects) { %>
        <div class="project-box">
          <div class="selectable-text project-box-project-title">
            <a href="/projects/<%=project._id%>?lang=<%=lang%>" >
              <% if (lang=="en-US") {
                __append(project.name["en-US"]); 
               } else if(lang=="pt-BR"){
                __append(project.name["pt-BR"]); 
               }%>
            </a>
          </div>
          <div class="project-box-images" >

            <% for(let picture of project.pictures){ %>
            <div>
              <a data-fancybox href="/pictures/dynamic/project/<%=picture%>">
                <img src="/pictures/dynamic/project/<%=picture%>">
              </a>
            </div>
            <% } %>
          </div>
        </div> 
        <% } %>

        </div> 
      </div>

      <div id="project-button-container-flex">

        <div>
          <button class="main-button" id="project-github-button">
            <a href="<%=socials.github.url%>" target="_blank">
              <i class="fa fa-brands fa-github"></i> github
            </a>
          </button>
        </div>

      </div>
    </main>

    <%- include("partials/footer") %>
    <script type="module" src="/header/bundle.js" ></script>
    <script type="module" src="/projects/bundle.js" ></script>
  </body>
</html>
