<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= texts.title %></title>
    <link rel="stylesheet" href="/stylesheets/partials/header.css">
    <link rel="stylesheet" href="/stylesheets/partials/footer.css">
    <link rel="stylesheet" href="/stylesheets/partials/fixed-icons.css">
    <link rel="stylesheet" href="/stylesheets/global.css">
    <link rel="stylesheet" href="/stylesheets/project.css">
    <style>
    @import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');
    </style>
    <script src="https://kit.fontawesome.com/e269f9ec62.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
  </head>
  <body>
    <%- include("partials/header") %>
    <%- include("partials/fixed-icons") %>

    <main id="main-container">

      <% if(project) { %>
        <div class="project-showcase">
        <div class="project-image-container">

          <div class="main-image-container">
            <div class="project-box-images">
              <% for(let picture of project.pictures){ %>
                <a data-fancybox href="/pictures/dynamic/project/<%=picture%>">
                  <img src="/pictures/dynamic/project/<%=picture%>">
                </a>
              <% } %>
            </div>
          </div> 


          <div class="main-slider-container">
            <div class="project-box-images-slider" >
              <% for(let picture of project.pictures){ %>
              <div class="slider-image-container">
                <img src="/pictures/dynamic/project/<%=picture%>">
              </div>
              <% } %>
            </div>
          </div> 

          <div class="category-container">
            <% for(let category of project.categories){ %>
            <div class="category-box">
              <% if(lang=="pt-BR") { %>
              <%= category.name["pt-BR"] %>
              <% }else if(lang=="en-US"){ %>
              <%= category.name["en-US"] %>
              <% } %>
            </div>
            <% } %>
          </div>

        </div>


        <div class="project-info-container">
          <div class="project-info-title">
            <h1>
          <% if(lang=="pt-BR") { %>
          <%= project.name["pt-BR"] %>
          <% }else if(lang=="en-US"){ %>
          <%= project.name["en-US"] %>
          <% } %>
            </h1>  
          </div>
          <p class="project-info-description">
          <% if(lang=="pt-BR") { %>
          <%= project.description["pt-BR"] %>
          <% }else if(lang=="en-US"){ %>
          <%= project.description["en-US"] %>
          <% } %>
          </p>

        <div class="buttons-group">
            
          <% if(project.link){ %>
          <div class="button-container">
            <a href="<%=project.link%>" class="main-button"><i class="fa fa-solid fa-link"></i> Link</a>
          </div>
          <% } %>

          <% if(project.demonstrative_link){ %>
          <div class="button-container">
            <a href="<%=project.demonstrative_link%>" class="main-button"><i class="fa fa-solid fa-paperclip"></i> <%= texts.projects.info.demonstrativeLink%></a>
          </div>
          <% } %>

          <% if(project.repository){ %>
          <div class="button-container"> 
            <a href="<%=project.repository%>" class="main-button"><i class="fa fa-solid fa-github"></i> <%= texts.projects.info.repository%></a>
          </div>
          <% } %>

        </div>

        </div>


        </div>

        <% }else{ %>
          <h1>Não encontrado</h1>
        <%} %>
    </main>


    <%- include("partials/footer") %>

    <script type="module" src="/header/bundle.js" ></script>
    <script type="module" src="/project/bundle.js"></script>
  </body>
</html>
